<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Preview</title>
	<link rel="stylesheet" href="./main.css"/>
</head>
<body class="preview">

{{#if (and _target.context _target.context.description)}}
	{{{description _target.context.description}}}
{{/if}}

<div id="page-container">
	{{{ yield }}}
</div>

</body>
</html>
